# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.dylib


# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Self
admin_server
api_server
room_server
cms_server
gateway_server
op_server
live-adminapi
live-adminjob
live-cmssvr
live-coinsvr
live-gatewaysvr
live-idgensvr
live-kitsvr
live-streamsvr
live-webapi
live-liveapi
live-roomsvr
live-opsvr
live-followsvr
live-mixersvr
live-indexsvr
live-cometapi
live-acutionsvr
live-cmtreportsvr
live-cmtreportbiz
live-costreamsvr
live-costreambizsvr
live-whitelistbizsvr
live-wordfilterbizsvr
live-wordfiltersvr
live-eventsvr
live-pollsvr
live-pushsvr
live-replaybizsvr
live-replaysvr
live-mocksvr

*.log
*.log.*
*.csv
.vscode/
.idea/
config.yaml
.DS_Store
tmp/

*/debug/
roomsvr/debug
cmssvr/debug
streamsvr/debug
adminapi/debug
liveapi/debug

*/test/
gatewaysvr/test/test.go
gatewaysvr/test/test
roomsvr/test/test

.vscode/launch.json
liveapi/.vscode/launch.json
adminapi/.vscode/launch.json
gatewaysvr/.vscode/launch.json
roomsvr/.vscode/launch.json

.vscode/settings.json


adminapi/conf/log_config.json
adminjob/conf/log_config.json
followsvr/conf/log_config.json
opsvr/conf/log_config.json
cmssvr/conf/log_config.json
roomsvr/conf/log_config.json
streamsvr/conf/log_config.json
kitsvr/conf/log_config.json
coinsvr/conf/log_config.json
liveapi/conf/log_config.json
gatewaysvr/conf/log_config.json
idgensvr/conf/log_config.json
mixersvr/conf/log_config.json
webapi/conf/log_config.json
pollsvr/conf/log_config.json
costreamsvr/conf/log_config.json

*.yml




log_config.json


pollsvr/conf/poll*.yml
costreamsvr/conf/poll*.yml
opsvr/conf/op_*.yml
mixersvr/conf/mixer_*.yml
cmtreportbiz/conf/cmtreportbiz_*.yml
cmtreportsvr/conf/cmtreport_*.yml

pollsvr/tmp/

Gopkg.toml
pollsvr/tmp/
costreamsvr/tmp/
