# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.log
*.log.*
*.csv
.vscode/
.idea/
config.yaml
.DS_Store
tmp/